body{
    background-color: rgb(23, 101, 196);
}
.box{
    background-color: rgb(0, 115, 255);
    height: 300px;
    width: 300px;
    padding: 20px 0px 50px 60px;
    border-radius: 10px;
    box-shadow:  0 0 15px 10px rgba(0,0,0,0.3);
    margin: 13% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#h12{
    margin-left: 25%;
    margin-bottom: 0px;
}
div:hover{
    background-color: rgb(51, 140, 249);
}
input{
    margin: 10px;
    background-color: rgb(161, 211, 255);
    border: none;
    box-shadow:  0 0 2px 3px rgba(0,0,0,0.3);
    width: 140px;
}
label{
    font-weight: bolder;
    display: inline-block;
    text-align: right;
}
input:hover{
    background-color: rgb(35, 152, 255);
}
button{
    margin-top: 20px;
    height: 30px;
    width: 235px;
    background-color: rgb(132, 217, 5);
    font-weight: bolder;
    border-radius: 10%;
}
button:hover{
    background-color: rgb(84, 138, 4);
}
h4{
    font-size: small;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    margin-right: 50px;
}
a:hover{
    color: rgb(68, 66, 66);
}
#tg{
    margin-right: -1.5px;
}



